<!DOCTYPE html>
<html>
<body>
    <div style="display:flex;justify-content:center; ">
        <div style="text-align:center;margin-top: 10px;">
            <div
                style="width:40rem;height:9rem;display:flex;justify-content: center;align-items: center;">
                <div style=" margin-top: 2rem;">
                    <a href="https://dhudu.ae/">
                        <img src="https://i.postimg.cc/9fz6SNYh/df1e4673-f305-4d60-9154-a2d8a2ad78ca-removebg-preview-1-1.png" width="300px"></a>
                </div>
            </div>
            <div style=" display: grid;">
                <div style="width:40rem;display:flex;justify-content: center;align-items: center;">
                    <div>
                        <h2 style="font-weight:bold;"></h2>
                        <p
                            style="font-weight: bold;color: #8a8a8f; text-align:left;margin-bottom:40px ">
                            Dear <%= userName %> </p>
                        <p style="font-weight: bold;color: #8a8a8f;text-align:left;">Thank you for registering for our complimentary milk sample.</p>
                        <p style="font-weight: bold; color: #8a8a8f;text-align:left;line-height: 20px;  ">We appreciate your interest in Dhudu and look forward to providing you with our milky goodness. </p>
                        <p style="font-weight: bold; color: #8a8a8f;text-align:left;line-height: 20px;  ">We are committed to providing you with the highest quality of milk, straight from the farm to your doorstep. Keep an eye on your inbox; we'll be reaching out soon to lock in those milk delivery dates. </p>
                        <p style="font-weight: bold; color: #8a8a8f;text-align:left;line-height: 20px;  ">Get ready for some moo-licious, real fresh milk coming your way! </p>
                        <p style="font-weight: bold; color: #24a9e1;text-align:left;line-height: 10px;  ">Best regards, </p>
                        <p style="font-weight: bold; color: #24a9e1;text-align:left;line-height: 10px;  ">Dhudu Team </p>

                        </p>
                        <div style="width:40rem; margin-top: 30px;display: flex;justify-content: center;">
                            <div>
                                <div
                                    style="margin-left: 10rem; margin-right:10rem;font-weight: bold;color: black;font-size: 15px; color:white;padding: 11px 20px 11px 20px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="margin-top:40px;width: 40rem; height:14rem; display: flex;  align-items: center; justify-content:center;margin: auto;">
        <div>
            <div style="display: flex; align-items: center; justify-content:center;margin-top: 10px;">
                <a href="https://www.facebook.com/profile.php?id=61556917162556&mibextid=ZbWKwL" target="_blank"> <img
                        src="https://www.mmppicture.co.in/wp-content/uploads/2021/03/Facebook-Icon-PNG-1.png"
                        width="50px" height="50px"></a>
                <a href="https://www.instagram.com/dhudu.ae?igsh=NHZyYXlhZm5mYnJl" target="_blank"> <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
                        width="40px" height="37px" style="margin:6px;border-radius:0px">
                </a>
            </div>
            <div style="margin-left: 20px;">
                <img src="https://i.postimg.cc/KjZtKmCt/trial-qr.png" width="94px" height="94px"
                    style="margin-left:18px;"></img>
            </div>
            <div style="font-weight: bold;text-align: center;color: #8a8a8f;">
                <p style="font-size: 11px;">Dhudu<br />Copyright&copy; 2024. All rights reserved</p>
            </div>
        </div>
    </div>
</body>
</html>
